# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#qmake
mcproxy/Makefile
mcproxy/mcproxy
mcproxy/debug/tester/tester

#editor
*.~
*.swp
*.orig
*.log
*.pyc
*.vim
