# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#qmake
mcproxy/Makefile
mcproxy/mcproxy
mcproxy/tester
mcproxy/unit_tests
debug/tester/tester
docs/html

#editor
*.~
*.swp
*.orig
*.log
*.pyc
*.vim
